@{
    Layout = null;  //Explicitly saying dont use any layout
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Admin Delete</title>
</head>
<body>
    <div>
        <h1> Delete</h1>
    </div>
</body>
</html>